@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mont: var(--font-mont);
  --font-funnel: var(--font-funnel);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
  .markdown-container code {
    background-color: rgb(30, 30, 30);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
/* Minimal scrollbar with no track */
.minimal-scrollbar::-webkit-scrollbar {
  width: 7px; /* thin scrollbar */
}

.minimal-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* hides track */
}

.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: #555; /* scrollbar color */
  border-radius: 9999px; /* fully rounded */
}

.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777; /* slightly lighter on hover */
}

/* For Firefox */
.minimal-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #555 transparent;
}
.markdown-container{
  overflow-x: scroll
}
.markdown-container h3 {
  @apply text-[30px] font-semibold font-[var(--font-funnel)];
}

.markdown-container hr {
  @apply my-3 text-gray-500;
}

.markdown-container strong {
  @apply text-lg;
}

.markdown-container code {
  @apply bg-[#ededed] px-1.5 py-0.5 rounded-md dark:bg-[#232323];
}
.markdown-container pre div{
  @apply rounded-[10px] 
}
