@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mont: var(--font-mont);
  --font-funnel: var(--font-funnel);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
  .markdown-container code {
    background-color: rgb(30, 30, 30);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
/* Minimal scrollbar with no track */
/* Always visible thin scrollbar */
.minimal-scrollbar {
  scrollbar-width: thin;                /* Firefox */
  scrollbar-color: #555 transparent;    /* default light */
}
.minimal-scrollbar::-webkit-scrollbar {
  width: 7px; 
  height: 7px;
}
.minimal-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.minimal-scrollbar::-webkit-scrollbar-thumb {
  background: #555; 
  border-radius: 9999px;
}
.minimal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #777;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  .minimal-scrollbar {
    scrollbar-color: #999 transparent; 
  }
  .minimal-scrollbar::-webkit-scrollbar-thumb {
    background: #999;
  }
  .minimal-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #bbb;
  }
}



.markdown-container h3 {
  @apply text-[30px] font-semibold font-[var(--font-funnel)] leading-tight py-2;
}

.markdown-container hr {
  @apply my-3 text-gray-500;
}

.markdown-container strong {
  @apply text-lg;
}

.markdown-container code {
  @apply bg-[#ededed] px-1.5 py-0.5 rounded-md dark:bg-[#232323];
}
.markdown-container pre div{
  @apply rounded-[10px] 
}
